{% extends 'base.html' %}


{% load static %}
{% block content %}
{% include 'carousel.html' %}


<div class="container">
  <h1 class="mt-4 mb-3">Portfolio 1
    <small>Subheading</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Portfolio 1</li>
  </ol>

  <!-- Project One -->
  {% for destination in destinations %}
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ destination.image.url}}" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>{{destination.tour_title}}</h3>
      <h6>{{destination.location}}</h6>
      <p>{{destination.description|slice:":200"}}...</p>
      <p>Start: {{destination.booking_start_date}} </p>
      <p>Ends: {{destination.booking_end_date}}</p>
      <h3>€ {{destination.price}}</h3>

      <a class="btn btn-primary" href="{% url 'destinationDetails' id=destination.id %}"> View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->
  {% endfor %}
  <hr>

  <!-- Pagination -->
  {% if destinations.has_other_pages %}
  <ul class="pagination">
    {% if destinations.has_previous %}
      <li><a href="?page={{ destinations.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in destinations.paginator.page_range %}
      {% if destinations.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if destinations.has_next %}
      <li><a href="?page={{ destinations.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{% endblock content %}
