{% extends 'base.html' %}


{% load static %}
{% block content %}


{% include 'header.html' %}
<div class="container">
  <h1 class="mt-4 mb-3">Portfolio 1
    <small>Subheading</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Portfolio 1</li>
  </ol>

  <!-- Project One -->
  {% for destination in destinations %}
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ destination.image.url}}" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>{{destination.tour_title}}</h3>
      <h6>{{destination.location}}</h6>
      <p>{{destination.description|slice:":200"}}...</p>
      <p>Start: {{destination.booking_start_date}} </p>
      <p>Ends: {{destination.booking_end_date}}</p>
      <h3>€ {{destination.price}}</h3>

      <a class="btn btn-primary" href="{% url 'destinationDetails' id=destination.id %}"> View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->
    <hr>
  {% endfor %}


  <!-- Pagination -->

  <!-- The function of this pagination is at tour_store.views.destinations -->
  <nav aria-label="Page navigation example">
    {% if destinations.has_other_pages %}
    <ul class="pagination justify-content-center">

      <!-- conditional to display whether the previows (<<) button shold be activated or deactivated  -->
      {% if destinations.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ destinations.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href=""aria-label="Previous">
        <span>&laquo;</span>
        </a>
      </li>
      {% endif %}

      <!-- Loop pagination displays the pagination numbers and the actived current page (Bootstrap 4.4)-->
      {% for page in destinations.paginator.page_range %}
      {% if destinations.number == page %}
      <li class="page-item active">
        <a class="page-link" href="{{ page }}">
          {{ page }}
        </a>
      </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}

      <!-- conditional to display whether the next (>>) button shold be activated or deactivated    -->
      {% if destinations.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ destinations.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href=""aria-label="Next">
        <span>&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
</div>

{% endblock content %}
