{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
  <h1 class="mt-4 mb-3">{{ details.tour_title }}
    <small>by
      <a href="#">{{ details.author }}</a>
    </small>
  </h1>
  <div class="row">
    <div class="col-lg-8">
      <!-- Page Heading/Breadcrumbs -->
      <!-- Preview Image -->
      <br>
      <img class="img-fluid rounded" src="{{ details.image.url}}" alt="">

      <hr>

      <p class="lead">{{ details.description }}</p>

      <hr>


      <!-- Comments Form -->

      <div class=" my-4">
        <!-- comments -->
        {% with comments.count as total_comments %}
        <h4>{{ total_comments }} comments</h4>
        <p>
          {% endwith %} {% for comment in comments %}
        </p>
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.comment }}
        </div>
        {% endfor %}
      </div>
  <div class="card card-body card-padding-bottom">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}

        <div class=" my-4">
          <h5>Leave a Comment:</h5>
              <br>
            <form method="post">
              <div class="form-group">
                {{ comment_form | as_bootstrap }}
                {% csrf_token %}
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}

          </div>
        </div>
      </div>




    <div class="col-md-4">

      <div class="card card-body my-4">
        <h5 class="">Add to cart</h5>
        <!-- this is a form from CI tutorial -->
        <br>
        <h4>  € {{details.price}}</h4>
        <br>
        <p>Start: {{details.booking_start_date}} <br>Ends: {{details.booking_end_date}} </p>
        <form method="POST" action="{% url 'add_to_cart' details.id %}">
          {% csrf_token %}
          <div class="input-group">
            <input name="quantity" type="number" value="1" min="1" max="999" class="form-control" placeholder="Quantity">
            <span class="input-group-btn">

              <button class="btn btn-success" type="submit">Add</button>

            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
{% endblock content %}
