{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
{% include 'normal-navbar.html' %}
<div class="container paddingDetail">
  <h1 class="mt-4 mb-3 text-dark">{{ details.tour_title }}
    <!-- <small>  -->
    <!-- add {{ details.author }} into <a> element if you want to show the author's name.-->
    <!-- by <a href="#"></a> -->
    <!-- </small> -->
  </h1>
  <div class="row">
    <div class="col-lg-8">
      <!-- Page Heading/Breadcrumbs -->
      <!-- Preview Image -->
      <br>
      <img class="img-fluid rounded shadow-sm" src="{{ details.image.url}}" alt="">
      <hr>
      <p class="lead">{{ details.description|safe }}</p>
      <hr>
      <!-- Comments Form -->
      <div class=" my-4">
        <!-- comments -->
        {% with comments.count as total_comments %}
        <h4>{{ total_comments }} comments</h4>
        <p>
          {% endwith %} {% for comment in comments %}
        </p>
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.comment }}
        </div>
        {% endfor %}
      </div>
      <!--/ Comments -->

      {% if new_comment %}
      <div class="alert alert-success my-4" role="alert">
        Your comment is awaiting moderation
      </div>
      {% else %}
      <div class="card card-body card-padding-bottom comment-margin-bottom mb-5 shadow-sm">

        <div class=" my-4">
          <h5>Leave a Comment:</h5>
          <br>
          <form method="post">
            <div class="form-group">
              {{ comment_form | as_bootstrap }}
              {% csrf_token %}
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>

        </div>

      </div>
      {% endif %}
    </div>

<!-- Add to cart -->
    <div class="col-md-4">

      <div class="card card-body col-md-12 my-4 shadow-sm">
        <h5 class="">Add to cart</h5>
        <!-- this is a form from CI tutorial -->
        <br>
        <h4> € {{details.price}}</h4>
        <br>
        <p class="text-secondary"><i class="text-info far fa-calendar-check"></i> <strong>{{details.booking_start_date}} - {{details.booking_end_date}}</strong></p>

        <!-- Function from cart app -->
        <form method="POST" action="{% url 'add_to_cart' details.id %}">
          {% csrf_token %}
          <div class="input-group">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Number of people</label>
              <select name="quantity" class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <span class="input-group-btn" style="margin-top: 32px;margin-left: 5px;">
              <button class="btn btn-success" type="submit">Add</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <!--/ Add to cart -->
  </div>
</div>
<!-- /.row -->
{% endblock content %}
