{% load static %}
<div>
  <!-- HEADER tag had to be changed to div due to code conflits -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <!-- image dimensions are 1900x1080 -->
      <div class="carousel-item active" style="background-image: url({% static 'images/travel.jpg'%})">
        <div class="carousel-caption d-none d-md-block">
          <h1>Retreats</h1>

        </div>
      </div>
    </div>
  </div>
</div>
