{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'transparent-navbar.html' %}
<header>
  <div class="overlay">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{% static 'videos/yoga.mp4' %}" type="video/mp4">
    </video>
    <div class="container3 h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h4 class="display-3 ">The best wellness retreats.</h4>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <form action="{% url 'search' %}" method="GET" class="header__search">
                <div class="input-group">
                  <!-- Change the search input phrase here -->
                  <input type="text" name="q" placeholder="Search for `Thailand`." class="form-control">
                  <div class="input-group-append">
                    <button class="btn btn-warning" type="submit" name="button"><i class="fas fa-search"></i></button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container2">
  <h1 class="my-4 text-center">Find the best retreat</h1>

  <!-- Portfolio Section -->

  <div class="row row2">
    {% for destination in show_destinations|slice:"3" %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <a class="card-title" href="{% url 'destinationDetails' id=destination.id %}">
        <div class="card text-white">
          <img src="{{ destination.image.url}}" class="card-img-top" alt="destination">
          <div class="card-img-overlay text-center">
            <h3 class="card-title ">{{destination.tour_title}}</h3>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <section class="py-5 ">
    <div class="container container2 text-center">
      <h2>About Us</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, chitecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}
