{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load bootstrap_tags %}
{% include 'transparent-navbar.html' %}

<header>
  <div class="overlay">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{% static 'videos/yoga.mp4' %}" type="video/mp4">
    </video>
    <div class="container3 h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h2 class="display-4 ">The best wellness retreats.</h2>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <form action="{% url 'search' %}" method="GET" class="header__search">
                <div class="input-group">
                  <!-- Change the search input phrase here -->
                  <input type="text" name="q" placeholder="Search for `Thailand`." class="form-control">
                  <div class="input-group-append">
                    <button class="btn btn-warning" type="submit" name="button"><i class="fas fa-search"></i></button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container2">
  <h1 class="my-4 text-center">Top locations</h1>

  <!-- Portfolio Section -->

  <div class="row row2">
    {% for destination in show_destinations|slice:"3" %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <a class="card-title" href="{% url 'destinationDetails' id=destination.id %}">
        <div class="card text-white">
          <img src="{{ destination.image.url}}" class="card-img-top" alt="destination">
          <div class="card-img-overlay text-center">
            <h3 class="card-title ">{{destination.tour_title}}</h3>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <div class="row bg-light skew1">
    <!-- https://mdbootstrap.com/snippets/jquery/marta-szymanska/1301459 -->
       <div id="testimonial skew2" class="testimonial skew2 container-fluid">
               <section class="team-section text-center">
                   <h1 class="font-weight-bold testimonials">Testimonials</h1>
                   <!-- <p class="dark-grey-text w-responsive mx-auto mb-5 subtitle"> Success says by itself. Here you can see real story from real members who joined Gym and changed their lives.</p>-->
                   <div class="row text-center">
                       <div class="col-md-4 mb-md-0 mb-5">
                           <div class="testimonial">
                               <div class="avatar mx-auto">
                                   <img src="{% static 'images/avatar1.jpg' %}" class="rounded-circle z-depth-1 img-fluid alter_img" alt="gym-member2g">
                               </div>
                               <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
                               <h6 class="font-weight-bold blue-text my-3">Gym Member</h6>

                               <p class="font-weight-normal dark-grey-text">
                                   <i class="fa fa-quote-left pr-2"></i>Gym is an awesome place, with new equipment and great staffs who will always look after you if you need. If I were you I would come to any Gym branch and Join it.</p>
                               <div class="orange-text">
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                                   <i class="fas fa-star-half-alt"> </i>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4 mb-md-0 mb-5">
                           <div class="testimonial">
                               <div class="avatar mx-auto">
                                   <img src="{% static 'images/avatar2.jpg' %}" class="rounded-circle z-depth-1 img-fluid alter_img" alt="trainer">
                               </div>
                               <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
                               <h6 class="font-weight-bold blue-text my-3">Personal Trainer</h6>
                               <p class="font-weight-normal dark-grey-text">
                                   <i class="fa fa-quote-left pr-2"></i>You will be amazed by being part of the Gym. As a personal trainer, I am delighted with the time flexibility and new features that often appears in the company. I love Gym..</p>
                               <div class="orange-text">
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="testimonial">
                               <div class="avatar mx-auto">
                                   <img src="{% static 'images/avatar3.jpg' %}" class="rounded-circle z-depth-1 img-fluid alter_img" alt="gym-member">
                               </div>
                               <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
                               <h6 class="font-weight-bold blue-text my-3">Gym Member</h6>
                               <p class="font-weight-normal dark-grey-text">
                                   <i class="fa fa-quote-left pr-2"></i>You will be amazed by being part of the Gym. As a personal trainer, I am delighted with the time flexibility and new features that often appears in the company. I love Gym. </p>
                               <div class="orange-text">
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                                   <i class="fa fa-star"> </i>
                               </div>
                           </div>
                       </div>
                   </div>
               </section>
           </div>
  </div>


<div class="row">
  <section class=" col-md-6 py-5 ">
    <div class="container container2 text-center">
      <h2>About Us</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-sm-9">
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, chitecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
      </div>
    </div>
  </section>
    <div class=" col-md-6 card card-body card-padding-bottom">
          {% if new_contact %}
          <div class="alert alert-success" role="alert">
            Your comment is awaiting moderation
          </div>
          {% else %}

          <div class=" my-4">
            <h5>Get in touch:</h5>
                <br>
              <form method="post">
                <div class="form-group">
                  {{ contact_form | as_bootstrap }}
                  {% csrf_token %}
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
              </form>
              {% endif %}
            </div>
          </div>

  </div>

  {% endblock content %}
