/* Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)*/
  {
  % load static %
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 56px;
  /* removes the x-asis scrolling */
  overflow-x: hidden;
  overflow-y: auto;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-inner.carousel.item {
  position: relative;
  display: none;
  -webkit-transition: 0.9s ease-in-out left;
  -moz-transition: 0.9s ease-in-out left;
  -o-transition: 0.9s ease-in-out left;
  transition: 0.9s ease-in-out left;
}

.carousel-caption.d-none.d-md-block h3 {
  padding-bottom: 196px;
}

.portfolio-item {
  margin-bottom: 30px;
}

form.header__search {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  */
}

.card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  text-align: center;
}

.card.card-style {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
}

.card.card-style2 {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
}

h3.card-title {
  padding-top: 35%;
}

.row.row2 {
  padding: 30px;
}

section.py-5.bg-light {
  height: 500px;
}

.container.container2 {
  padding-top: 120px;
}

/* startbootstrap code below*/
header {
  position: relative;
  /* background-color: black; */
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 65%;
  left: 65%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container3 {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: black;
  opacity: 0.9; */
  z-index: 1;
}



/* startbootstrap code above*/
@media (min-width: 2000px) {
  .image2 {
    position: absolute;
    top: 45vh;
    left: 110vh;
  }
}
