/* Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)*/
body {
 padding-top: 56px;
}

.carousel-item {
 height: 65vh;
 min-height: 300px;
 background: no-repeat center center scroll;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.portfolio-item {
 margin-bottom: 30px;
}

li.search {
  padding-right: 180px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none; */
}

.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    text-align: center;
}

.card.card-style {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
}

.card.card-style2 {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
}
