{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}


{% block content %}
{% include 'normal-navbar.html' %}

<!-- head_js is a stripe requirement -->
{% block head_js %}

<script type="text/javascript">
  //<![CDATA[
  Stripe.publishableKey = '{{ publishable }}';
  //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{% endblock head_js %}

<div class="padding px-4 px-lg-0 bg-light">
  <div class="container text-white py-5 text-center">
    <h1 class="display-4 text-dark">Tour Project Checkout</h1>
  </div>
  <div class="container">
  <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    {% csrf_token %}
    <legend>Payment Details</legend>

    <div id="credit-card-errors" style="display: none;">
      <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="card card-body p-5 bg-white rounded shadow-sm ">
    <div class="row">
      <div class="form-group col-md-6 col-lg-6">
        {{ order_form | as_bootstrap }}
        </div>
        <div class="form-group col-md-6 col-lg-6">
        {{ payment_form | as_bootstrap }}
         <div style="overflow-x:auto;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="border-0 bg-light">
                <div class="p-2 px-3 text-uppercase">Product</div>
              </th>
              <th scope="col" class="border-0 bg-light">
                <div class="py-2 text-uppercase">Price</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- PRODUCT WILL LOOP HERE -->
            {% for item in cart_items %}
            <tr>
              <th scope="row" class="border-0">
                <div class="p-2">
                  <!-- IMAGE HERE -->
                  <img src="{{ item.destination.image.url}}" alt="" width="70" class="img-fluid rounded shadow-sm">
                  <div class="ml-3 d-inline-block align-middle">
                    <!-- TITLE HERE -->
                    <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ item.destination.tour_title }}</a></h5>
                    <!-- <span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span> -->
                  </div>
                </div>
              </th>
              <!-- PRICE -->
              <td class="border-0 align-middle"><strong>€{{ item.price }}</strong></td>
            </tr>
            {% endfor %}

            <!-- PRODUCT WILL LOOP HERE -->
          </tbody>
        </table>
      </div>
      </div>


        <div class="col-md col-lg align-self-center">

          <ul class="list-unstyled mb-4">
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
            <h5 class="font-weight-bold">€{{ total }}</h5>
          </li>
          </ul>
          <!-- <a href="{% url 'checkout'%}" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a> -->
          <div class="form-group col-md-12">
            <input class="btn btn-success rounded-pill py-2 btn-block" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
          </div>
        </div>
    </div>
    </div>
</form>
<br>
</div>

</div>


{% endblock %}
