{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}



<!-- OLD CART TEMPLATE BELOW-->
<!-- <div class="container">
  <br>
  <div class="row row-flex">
    {% for item in cart_items %} -->
    <!-- dont forget that in context.py in cart/ folder these items are apended:
         cart_items.append({'id': id, 'quantity': quantity, 'destination': destination}) -->

    <!-- <div class="col-md-4">
      <div class="card profile-card-1">
        <img src="{{ item.destination.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.destination.tour_title }}</h5>
          <p class="card-text">{{item.destination.description|slice:":100"}}...</p>
          <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputAmount" class="sr-only">New Qty</label>
              <div class="input-group">
                <div class="input-group-addon">Qty</div>
                <input name="quantity" type="number" min="1" max="999" class="form-control">
                <div class="input-group-addon">{{item.quantity}}</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  <br>
  <div class="row">
    <p>Total</p>
    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
    <a href="{% url 'checkout'%}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
  </div>
</div> -->
<!-- OLD CART TEMPLATE ABOVE-->
<!--  -->
<!--  -->

{% block content %}
{% include 'normal-navbar.html' %}
<div class="padding px-4 px-lg-0 bg-light">
  <!-- For demo purpose -->
  <div class="container text-white py-5 text-center">
    <h1 class="display-4 text-dark">Tour Project shopping cart</h1>
    <!-- <p class="lead mb-0">Build a fully structred shopping cart page using Bootstrap 4. </p>
    <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white font-italic">
            <u>Bootstrapious</u></a>
    </p> -->
  </div>
  <!-- End -->

  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remove</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- PRODUCT WILL LOOP HERE -->
                {% for item in cart_items %}
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <!-- IMAGE HERE -->
                      <img src="{{ item.destination.image.url}}" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <!-- TITLE HERE -->
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ item.destination.tour_title }}</a></h5>
                        <!-- <span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span> -->
                      </div>
                    </div>
                  </th>
                  <!-- PRICE -->
                  <td class="border-0 align-middle"><strong>€{{ item.price }}</strong></td>
                  <!-- QUANTITY -->
                  <td class="border-0 align-middle"><strong>{{item.quantity}}</strong></td>
                <!-- ADD DELETE FUNCTION HERE -->
                  <td class="border-0 align-middle"><a href="{{ item.id_to_be_removed }}" class="text-dark"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
                <!-- PRODUCT WILL LOOP HERE -->
              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>

      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <!-- <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
          <div class="p-4">
            <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
            <div class="input-group mb-4 border rounded-pill p-2">
              <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" class="btn btn-info px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
              </div>
            </div>
          </div>
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
          <div class="p-4">
            <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
        </div> -->
        <div class="col">
          <div class="bg-light rounded-pill px-4 py-3 text-center text-uppercase font-weight-bold">Order summary </div>
          <div class="p-4">
            <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>€{{ total }}</strong></li>
              <!-- <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$0.00</strong></li> -->
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                <h5 class="font-weight-bold">€{{ total }}</h5>
              </li>
            </ul><a href="{% url 'checkout'%}" class="btn btn-info rounded-pill py-2 btn-block">Proceed to checkout</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
