<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand brand-style"  href="{% url 'index' %}"><i class="fas fa-spa fa-lg" style="color:#17a2b8;"></i></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="align-self-start d-none d-md-block  search">
        </li>
        <li class="nav-item">
          <!-- FOR TOUR_STORE APP -->
          <a class="nav-link" href="{% url 'destination' %}">Retreats</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        <!-- FOR CART APP -->
        {% if destination_count > 0 %}
        <li class="nav-item">
          <!-- the view cart button will log you into the cart.html url -->
          <a class="nav-link" href="{% url 'view_cart' %}">
            <i class="fas fa-cart-arrow-down"></i>
            <label class="badge badge-warning">{{ destination_count }}</label>
          </a>
        </li>
        {% else %}
        <li class="nav-item" disabled>
          <a class="nav-link"disabled>
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- To add message if card doesnt go through -->
{% if messages %}
<div id="message_container"class="alert alert-success" >
  <br><br><br>
  <div class="messages">
    <!-- Message will auto delete in 3 seconds -->
    {% for message in messages %}
    {{ message }}
    <!-- <a  href="#"class="del-msg"></a> -->
    {% endfor %}
  </div>
</div>
{% endif %}
